<h1>Welcome <%= current_user.first_name %></h1>

<div class="container">
  <h2>Your bookings</h2>
    <div>
      <% current_user.bookings.each do |booking| %>
        <%= image_tag booking.boat.image_url, width: 200 %>
        <p>Date: <%= booking.booking_date %></p>
        <%= link_to "View Boat", users_show_path(@user), class: "nav-link" %>
      <% end %>
    </div>
</div>
