#lol{
  width: 100%;
  justify-content: center;
}
.add-boat {
  display: flex;
  justify-content: space-between;
}


#boat-add {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 40px;
}

#grey {
  width: 100%;
  color: grey;
  margin-right: 40px;
}

#margin-top {
  margin: 100px 0px;
}

#boat-add {
  width: 100px;
  text-align: center;
  height: 40px;
}

#grey {
  color: grey;
  margin-right: 40px;
}

#margin-top {
  margin: 100px 0px;
}
