.add-boat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#boat-add {
  width: 50px;
  text-align: center;
  height: 40px;
}

#grey {
  color: grey;
  margin-right: 40px;
}

#margin-top {
  margin: 100px 0px;
}

#boat-add {
  width: 100px;
  text-align: center;
  height: 40px;
}

#grey {
  color: grey;
  margin-right: 40px;
}

#margin-top {
  margin: 100px 0px;
}
